@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

    --color-blue-400 : #06b2fc;
    --background: #111;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.text-yellow-500 {
  color: #01f3ff;
}

.bg-lightning {

    background-image: url(../../public/bg_lighting.svg);
    /* background-position: center; */
    background-size: auto;
    background-repeat: no-repeat;
}

.rounded-2xl {
  border: 3px solid #3ECCFD;
}
.custom-grid {
      display: grid;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-between;
}
